body {
  background: linear-gradient(to right, #ff0000aa, #0000ffaa, #00ff00aa);
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  background-color: #333;
  color: white;
  padding: 1rem 0;
  text-align: center;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.box {
  border: 2px solid #60178a;
  border-radius: 0.5em;
  padding: 10px;
  width: 90%;
  text-align: left;
  margin: 10px auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h2 {
  text-align: center;
}

h3 {
  margin-top: 5px;
  margin-bottom: 10px;
}

p {
  word-wrap: break-word;
}

/* Responsive Styles */
@media (max-width: 768px) {
  nav ul li {
    display: block;
    margin: 10px 0;
    text-align: center;
  }
  section {
    margin-bottom: 2rem;
  }
}
@media (max-width: 480px) {
  body {
    font-size: 90%;
  }
  header {
    padding: 0.5rem;
  }
  main {
    padding: 0.5rem;
  }
}
